* {
    box-sizing: border-box;
}

.home-container{
    width: 100%;
    display: flex;
}

/* @media only screen and (max-width: 1080px) {
    .home-container{
        width: 67%;
        
    }
    .profile-section{
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {
    .home-container{
        width: 100%;
    }
    .profile-section{
        display: flex;
    }
}



@media only screen and (min-width: 600px) {
    .left-container{
        width: 100%;
    }
}

@media only screen and (min-width: 1000px) {
    .left-container{
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    .right-container{
        width: 100%;
    }
}

@media only screen and (min-width: 1000px) {
    .right-container{
        width: 100%;
    }
} */

input[type="checkbox"]{
    zoom: 1.8;
} 

.left-container{
    border: 1px solid red;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.profile-section{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}


.categories{
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    margin-left: 3vh;
    padding: 3vh;
    align-items: flex-start;
    border: 1px solid yellow;
    justify-content: center;
}

.avatar {
    width: 5vh;
    height: 5vh;
    background-color: pink;
    border-radius: 50%;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.username{
    color: white;
}

.right-container{
    border: 1px solid green;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.text-container{
    border: 1px solid red;
    background-color: #330867ee;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px 15px;
    border-radius: 10px;
    /* position: absolute;
    top: 15vh; */
}


.text-input{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0px;
    align-self: center;
    border: 2px solid #30cfd0;
    border-radius: 4px;
    box-sizing: border-box;
}


.delete-btn {
    background-color: #30cfd0;
    color: white;
    border-radius: 10px;
    /* justify-content: center; */
    /* align-items:center;s */
    font-size: 14px;
    transition-duration: 0.1;
    border:none;
    /* display: flex; */
    width: 9vh;
    height: 4vh;
    /* margin-top: 1vh; */
    float: right;
    position: relative;
    right: 2vh;
    top: 1vh;
    cursor: pointer;
}
.delete-btn:hover{
    border: 2px solid white;
}

.add-btn{
    background-color: #30cfd0;
    color: white;
    border-radius: 10px;
    border: none;
    display: flex;
    width: 4vh;
    height: 4vh;
    justify-content: center;
    align-items:center;
    float: right;
    position: relative;
    left: 6vh;
    top: 6vh;
    cursor: pointer;
}

.add-btn:hover{
    border: 2px solid white;
}

.check-box{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* width: 5%; */
    border: 1px solid yellowgreen;
    /* position: relative; */
    /* align-self: flex-start; */
}

.remove-btn{
    background-color: #30cfd0;
    color: white;
    border-radius: 3px;
    border: none;
    display: flex;
    width: 4vh;
    height: 3.5vh;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    /* float: left; */
    /* position: relative; */
    /* align-content: center; */
    
}

.remove-btn:hover{
    border: 2px solid white;
}

.create-card-container{
    display: flex;
    justify-content: space-around;
    margin: 2vh;
    background-color: white;
    /* position: relative; */
}

.create-btn{
    background-color: #30cfd0;
    color: white;
    border-radius: 10px;
    justify-content: center;
    align-items:center;
    font-size: 16px;
    transition-duration: 0.1;
    border:none;
    display: flex;
    width: 12vh;
    height: 5vh;
    margin-top: 2vh;
    cursor: pointer;
}
.create-btn:hover{
    background-color: white;
    color: #30cfd0;
}

.create-title{
    display: flex;
    text-align: center;

}